<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../sass/app.scss">
    <title>Piotr Prus</title>
</head>

<body>


    <div class="wrapper">
        <div class="main_section">
            <h1>Lorem ipsum dolor sit amet.</h1>
        </div>


        <header class="header">
            <div class="logo"><span>Logo</span></div>

            <nav class="nav">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Pages</li>
                </ul>
            </nav>
            <div class="header_contact">
                <span class="header_contact-call">Call Us:</span>
                <span class="header_contact-number">+48 123 456 789</span>
                <span class="header_contact-language">EN <button class="chevron">&#5167;</button></span>


                <button class="header_contact-btn">Contact Us</button>
            </div>
        </header>
    </div>



</body>

</html>