<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <title>Piotr Prus</title>
</head>

<body>


    <div class="wrapper">

        <header class="header">
            <div class="logo"><span>Logo</span></div>

            <nav class="nav">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Pages</li>
                </ul>
            </nav>
            <div class="header_contact">
                <span class="header_contact-call">Call Us:</span>
                <span class="header_contact-number">+48 123 456 789</span>
                <span class="header_contact-language">EN <button class="chevron">&#5167;</button></span>


                <button class="header_contact-btn">Contact Us</button>
            </div>
        </header>

        <div class="hero_section">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis leo ut felis vestibulum cursus.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>

            <div class="hero_section-container"><img class="hero_section-play" src="https://i.ibb.co/ng4zGbF/imgada.png"
                    alt="play button icon">
                <div class="hero_section-containerText">Watch demo video</div>
            </div>

        </div>

        

        <div class="blog_section">

            <p class="blog_section-title">our blog</p>
            <h2 class="blog_section-header">Lorem ipsum dolor</h2>

            <div class="blog_section-wrapper">

                <div class="blog_section-card"></div>
                <div class="blog_section-card"></div>
                <div class="blog_section-card"></div>
                
            </div>



        </div>



        <img class="background-dots" src="https://i.ibb.co/6bBc355/Ellipse.png" alt="background decoration">
        <img class="background-dots2" src="https://i.ibb.co/C15tgGd/Ellipse2.png" alt="background decoration">
        <div class="background-circle"></div>
        <div class="hero_section-decoration decoration-one"></div>
        <div class="hero_section-decoration decoration-two"></div>
        <div class="hero_section-decoration decoration-three"></div>
    </div>



</body>

</html>